
# Python venv
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Docker volumes
grafana-data/
postgres-data/

# VSCode settings (如果有)
.vscode/

test/

binance-connector-python-master/